<h1>Week view</h1>
 <%= select("week", nil , @past_mondays ) %>
<% @past_mondays.each do |monday|%>
	<%= monday %>
<% end %>
<br />
<ul class="thumbnails">
<% @monday.upto(@friday).each do |weekday| 
	data_day = @entries.where(:day=>weekday).first unless @entries.where(:day=>weekday).first.nil?
	data_next = @entries.where(:day=>weekday+1.day).first unless @entries.where(:day=>weekday+1.day).first.nil?
	%>
		<li class="span3">
	  	<div class="thumbnail">
				<h3>
					<%= weekday.strftime('%A') %> 
				</h3>
				<h5> <%= weekday %> </h5>
				<% unless data_next.nil? %>
					<span class="label label-success">
						reality
					</span>
					<p>
						<%= data_next.yesterday %>
					</p>
				<% end %>
				<% if data_day.nil? %>
					<%= link_to 'Add entry for this day', new_entry_path , :class=>'btn'%>
				<% else %>
					<span class="label label-warning">
						expected
					</span>
					<p><%= data_day.today %></p>
					<%= link_to 'Edit entry', edit_entry_path(data_day) , :class=>'btn'%>
					
				<% end %>
			</div>
		</li>
<% end %>
</ul>

<br />

<%= link_to 'New Entry', new_entry_path, :class=>'btn' %>
