<p id="notice"><%= notice %></p>

<p>
  <b>Entry for:</b>
  <%= @entry.day %>
</p>

<p>
  <b>Yesterday:</b>
  <%= @entry.yesterday %>
</p>

<p>
  <b>Today:</b>
  <%= @entry.today %>
</p>

<p>
  <b>Roadblocks:</b>
  <%= @entry.roadblocks %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
