	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
		<div class="container">
		  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </a>
		  <a class="brand" href="#">Standup!</a>
		  <div class="nav-collapse">
			<ul class="nav">
			  <%= raw bootstrap_menu_entry("Home", root_path) %>
				<% if user_signed_in? %>
			  	<%= raw bootstrap_menu_entry("Profile", edit_user_registration_path) %>
			  <% end %>
			  <%= raw bootstrap_menu_entry("About", about_path) %>
			</ul>
					<p class="navbar-text pull-right">
						<% if user_signed_in? %>
							<%= link_to "logout", destroy_user_session_path, :method=> :delete%>
						<% else %>
							<%= link_to "Login", new_user_session_path %>
						<% end %>
					</p>
		  </div><!--/.nav-collapse -->
		</div>
	  </div>
	</div>