<!DOCTYPE html>
<html>
<head>
  <title>Standup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "partials/navbar" %>

	<div class="container">
			<%= yield %>
		<footer>

	    <p>&copy; Waza Inc. 2012</p>
	  </footer>

	</div>


</body>
</html>
